$color-border = #eee
$color-theme = rgb(212, 68, 57)
$font-size-base = 14px

border-1px()
    &::after
        content: ""
        absolute: bottom 0 left 0 right 0
        height: 1px
        transform: translateY(.5)
        background: $color-border